
@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Decola Tech 2021</h1>
    <p> Bem Vindo, @Model.nome</p>
    <span>Seu email é: @Model.email</span>

    <p>Faça sua inscrição <a href="https://www.dio.me/sign-in">www.dio.me</a>.</p>
</div>
